    @media only screen and (max-width: 415px) {
      * {
        display: none !important;
      }
      
      .wrapper {
        display: none !important;
      }
    }

@media only screen and (min-width: 415px) {
  .reader {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }

  aside {
    width: 30%;
    height: fit-content;
    /* background-color: #fff; */
    height: 100%;
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    width: 70%;
    height: 100%;
  }

  object {
    width: 100%;
    height: 100%;
  }

  .thesis-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

  .thesis-info > p {
    font-size: 20px;
    font-weight: 600;
  }

  .authors {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px var(--STIyellow) solid;
    border-bottom: 1px var(--STIyellow) solid;
    padding: 10px 0 10px 0;
    justify-content: space-evenly;
  }

  .author {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    color: black;
    
  }

  .author > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50px;
  }

  .f16 {
    font-size: 16px !important;
  }

  .abstract {
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 10px;
  }

  .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

  .comment > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
  }
  .comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40vh;
    overflow: auto;
    padding: 15px;
  }

  .commentor {
    font-size: 15px;
    font-weight: 600;
  }

  .comment-message {
    font-size: 13px;
  }

  h4 {
    width: 100%;
    background-color: var(--STIblue);
    text-align: center;
    color: #fff;
    padding: 10px 0 10px 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  form {
    padding-top: 15px;
  }
}


    